<!-- Nav icon -->
<i class="fa-brands fa-facebook-f"></i>

<i class="fa-brands fa-square-youtube"></i>

<i class="fa-brands fa-square-instagram"></i>

<i class="fa-solid fa-user"></i>

<i class="fa-light fa-cart-shopping"></i>

<i class="fa-thin fa-clipboard-list-check"></i>

<!-- Social icon -->
<i class="fa-solid fa-envelope"></i>

<!-- Arrow -->

<i class="fa-duotone fa-share-all"></i>

<i class="fa-thin fa-rotate"></i>

<i class="fa-duotone fa-chevron-down"></i>


<!-- Flyoutmenu -->

<i class="fa-solid fa-gas-pump"></i>
<i class="fa-solid fa-utensils"></i>
<i class="fa-regular fa-location-dot"></i>
<i class="fa-solid fa-pencil"></i>
<i class="fa-solid fa-phone"></i>
