@import url('https://fonts.googleapis.com/css2?family=Arsenal:wght@400;700&family=Basic&family=Caveat:wght@400;500;600;700&display=swap');

* {
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body {
    font-family: var(--ff-primary-second);
}

:root {
    --ff-primary:'Arsenal', sans-serif;
    --ff-primary-second:'Basic', sans-serif;
    --ff-hand:'Caveat', cursive;

    --color-white:#FFFFFF;
    --color-black:black;
    --color-orange-primary:#F98A00;
    --color-orange-background-dark:#EF7103;
    --color-orange-background-light:#F8A104;

    --color-grey-dark:#555555;
    --color-grey-light:#ECECEC;
    --color-grey-font:#939393;
    --color-grey-font-light:#999999;
    --color-grey-font-dark:#626262;
    --color-green-font:#019A34;

    --fs-h1:42px;
    --fs-h2:40px;
    --fs-h3:30px;
    --fs-text-large:20px;
    --fs-h4:18px;
    --fs-nav:16px;
    --fs-medium:12px;
    --fs-small:10px;
}

/* General */
h1, h3, h4, p {
    color:var(--color-white);
}

h1 {
    font-size:var(--fs-h1);
}

h3 {
    font-size:var(--fs-h3);
}

h4 {
    font-size:var(--fs-h4);
}


/* Header */
nav {
    height:110px;
}

.nav-link {
    font-size: var(--fs-nav);
}

.desktop-logo {
    display:flex;
    align-items: center;
    justify-content: center;
    height:127px;
    width:150px;
    border-radius:10px;
    background: rgb(249,163,0);
    background: radial-gradient(circle, rgba(249,163,0,1) 0%, rgba(249,138,0,1) 100%);
}

.desktop-logo img {
    height:71px;
    width:112px;
}

.desktop-nav {
    flex-direction: column;
}

.social-icons {
    justify-content:space-between;
}

/* ====MOBILE VERSION HEADER===== */
.mobile-nav {
    display:none;
}

.user-mobile {
    color:white;
    font-size:40px;
}

.dropdown-toggle {
    color:white;
    font-size:25px;
}

.navbar-toggler {
    background-color:white;
}

@media screen and (max-width: 990px){
    .logo-img {
        justify-content:center;
        align-items:center;
    }

    .mobile-nav {
        display:block;
    }

    .desktop-nav, .mobile-breadcrumb  {
        display:none;
    }

    .navbar-expand-lg {
        background: rgb(249,163,0);
        background: radial-gradient(circle, rgba(249,163,0,1) 0%, rgba(249,138,0,1) 100%);
    }

    .desktop-logo {
        margin-top:-20px;
        height:100px;
        width:150px;
    }
}   

/* Header END*/

/* Main */
main {
    background-image:url(".././img/background.webp");
    /* min-height:1421px; */
    color:var(--color-white);
}

.breadcrumb {
    margin-top:11px;
    margin-left:150px;
}

.breadcrumb-item {
    font-size:var(--fs-medium);
}

.breadcrumb-item a {
    color:var(--color-grey-font-light);
    text-decoration:none;
}

/* ___________________________________________________________________________________________ */
.product-qlt {
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content:center;
    padding-top:60px;
}

.qlt-txt, .qlt-icon, .qlt-arrow-down {
    align-items:center;
    text-align:center;
}

.bio-icon {
    color:var(--color-orange-primary);
    font-size:90px;
    padding:65px;
}

/* ___________________________________________________________________________________________ */

.nutri {
    height:525px;
    background-color:var(--color-grey-light);
}

.container-nutri-btn {
    flex-direction: column;
    align-items:center;
    justify-content:center;
}

.nav-link-main  {
    font-family:var(--ff-hand);
    font-size:32px;
}

.font-dark {
    color:var(--color-grey-dark);
    font-size:24px;
}

.font-dark-h2 {
    color:var(--color-grey-dark);
    font-size:36px;
    padding-bottom:43px;
    font-family:var(--ff-hand);
    text-transform: uppercase;
}

.btn-nutri {
    background-color:var(--color-orange-primary);
    height:39px;
    width:126px;
    color:var(--color-white);
}

/* -------------------------------------------------------------------------------------------------- */
.carousel-item {
    width:153px;
    left:50%;
    position:relative;
}

.carousel-card {
    height:213px;
    width:206px;
    background-color:#019A34;
}



/* ====MOBILE VERSION MAIN==== */

@media screen and (max-width: 600px) {
    .container-nutri {
        flex-direction:row;
    }
}
/* Main END*/


/* Footer */
.footer-brand {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height:392px;
    background-image:url("../img/footer_background.jpg");
    background-repeat:no-repeat;
    background-size: cover;
}

.footer-title {
    padding-bottom:40px;
}

/* ------------------------------------------------------------------------------------------------ */

.footer-social {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height:333px;
    background: radial-gradient(
    100% 100% at 50% 50%,
    rgba(248, 161, 4, 1) 12%,
    rgba(239, 113, 3, 1) 84%
  );
}

.footer-social-content  {
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.footer-social-icon-container {
    justify-content: center;
    align-items: center;
}

.footer-social-icon {
    font-size:40px;
    color:var(--color-orange-primary);
    justify-content: center;
    align-items: center;
    height:68px;
    width:68px;
    border-radius:100%;
    background-color:var(--color-white);
}

.footer-social-item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:12px;
}

.footer-social-item p {
    font-size:14px;
}

.flex-container {
    padding:25px;
}

/* ----------------------------------------------------------------------------------------------- */

.footer-links-desktop {
    background-image:url(".././img/background.webp");
    min-height:384px;

}

.footer-links-desktop a  {
    text-decoration:none;
    color:var(--color-white); 
}

.footer-link {
    padding-top:66px;
}

.accordion-body {
    display:flex;
    flex-direction: column;
    color:var(--color-grey-font-dark);
}

.accordion-body a {
    color:var(--color-grey-font-dark);
}

.accordion-body a:hover {
    color:var(--color-orange-primary);
}

.footer-links-mobile {
    display:none;
}


/* ====MOBILE VERSION FOOTER==== */
@media screen and (max-width: 600px) {
    .footer-social-icon-container {
        flex-direction: column;
    }

    .footer-social-icon-container h3 {
        text-align: center;
    }

    .flex-container {
        padding:10px;
    }
    
}

@media screen and (max-width: 990px) {
    .footer-links-desktop {
        display:none;
    }
    .footer-links-mobile {
        display:block;
    }

}

